<div class="text-center">
    <h1 class="text-info">Order Confirmation</h1>
    <p>We have recieved your order and we will contact you as soon as possible!</p>
    <p>You get a letter with your order details.</p>
    <h5 class="text-danger">Please, check SPAM :)</h5>
    <img src="/images/patio.jpg" width="80%" />
</div>