@model MyStore.Models.Product

<form method="post" enctype="multipart/form-data">
    <input asp-for="Id" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Delete product</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Price" class="form-control" disabled />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Description" id="summernote" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        Image
                    </div>
                    <div class="col-8">
                        <img src="@WebConstants.ImagePath@Model.Image" width="100%" style="border-radius:5px; border: 1px solid #bbb" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Category.Id"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Category.Name" class="form-control" disabled />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Manufacturer.Id"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Manufacturer.Name" class="form-control" disabled />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <button class="btn btn-danger w-100">Delete</button>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-info w-100" role="button">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
<script>
    $(document).ready(function () {
        $('.summernote').summernote({
            height: 250,
            disable: true
        });
    });
</script>
}