@model MyStore.Models.ViewModels.ProductVM
@using System.Globalization

@{
    var title = "Create Product";
}

<form method="post" enctype="multipart/form-data">
    @if (Model.Product.Id != 0)
    {
        title = "Edit product";
        <input asp-for="Product.Id" hidden />
    }
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">@title</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Name" class="form-control" />
                        <span asp-validation-for="Product.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Price" class="form-control" />
                        <span asp-validation-for="Product.Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label>Short Description</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.ShortDescript" class="form-control" />
                        <span asp-validation-for="Product.ShortDescript" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Product.Description" id="summernote" class="form-control"></textarea>
                        <span asp-validation-for="Product.Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        Image
                    </div>
                    <div class="col-8">
                        @if (Model.Product.Id != 0)
                        {
                            <img src="@WebConstants.ImagePath@Model.Product.Image" width="100%" style="border-radius:5px; border: 1px solid #bbb" />
                        }
                        <input type="file" name="files" id="uploadImg" multiple class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label>Category</label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Product.CategoryId" asp-items="@Model.DropDownCategories" class="form-control">
                            <option disabled selected>--Select Category--</option>
                        </select>
                        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label>Manufacturer</label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Product.ManufacturerId" asp-items="@Model.DropDownManufacturers" class="form-control">
                            <option disabled selected>--Select Manufacturer--</option>
                        </select>
                        <span asp-validation-for="Product.ManufacturerId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            @if (Model.Product.Id != 0)
                            {
                                <button class="btn btn-success w-100">Update</button>
                            }
                            else
                            {
                                <button onclick="return validateImageInput()" class="btn btn-success w-100">Create</button>
                            }
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-info w-100" role="button">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $('#summernote').summernote({
                height: 250
            });
        });

        function validateImageInput() {
            if (document.getElementById("uploadImg").value == "") {
                swal({
                    title: "Error!",
                    text: "Upload an image!",
                    icon: "error",
                    button: "OK",
                });

                return false;
            }

            return true;
        }
    </script>
}
